.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.container > * {
  min-width: 39rem;
  max-width: 100rem;
}

img {
  border-radius: 3rem;
  flex: 5 0;
  object-fit: cover;
  height: 30rem;
  margin: 1rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 2rem;
  color: black;
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.tab-nav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 20px 0;
}

.tab-nav li {
  cursor: pointer;
  color: white;
  background: #e0e0e0;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}

.tab-nav li.active {
  background-color: #e72929;
  border-bottom: none;
}

.tab-content {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.containermenureview {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}
