<app-not-found
  [visible]="!restaurant"
  notFoundMessage="Food Not Found"
  resetLinkText="Back To Homepage"
>
</app-not-found>
<div *ngIf="restaurant" class="container">
  <img [src]="restaurant.imageUrl" [alt]="restaurant.name" />
  <div class="details">
    <div class="header">
      <span class="name">
        {{ restaurant.name }}
      </span>
    </div>
    <div class="rating">
      <app-starrating [stars]="restaurant.stars" />
    </div>
    <div>
      <br />
      <strong> Address, and Contact information </strong>
      <p>
        {{ restaurant.restaurantAddress.street }},
        {{ restaurant.restaurantAddress.pincode }},
        {{ restaurant.restaurantAddress.city }}
      </p>
      <p>Phone: {{ restaurant.restaurantAddress.contact.phone }}</p>
      <p>Email: {{ restaurant.restaurantAddress.contact.email }}</p>
    </div>
  </div>
</div>
<div *ngIf="restaurant" class="containermenureview">
  <div class="details">
    <ul class="tab-nav">
      <li routerLink="menu" routerLinkActive="active">Menu</li>
      <li routerLink="reviews" routerLinkActive="active">Reviews</li>
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
