ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  display: flex;
  align-items: center;
}

img {
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 17rem;
  margin: 1rem;
  max-width: 18rem;
}

.content {
  flex: 1;
}

.name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.favorite {
  font-size: 1.5em;
  margin-right: 5px;
  color: red;
}

.not {
  color: gray;
}

.stars {
  margin-bottom: 10px;
}

.origins span {
  display: inline-block;
  margin-right: 5px;
}

.cook-time {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.cook-time span {
  margin-right: 5px;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
}

li + li {
  margin-top: 20px;
}

/* Add to Cart Button */
.add-to-cart-button {
  background-color: #f44336; /* Red background color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #e53935; /* Darker shade on hover */
}
