<div class="container">
  <div class="content" *ngIf="order">
    <div class="order-success">Order placed successfully!</div>

    <h1 class="order-header">Order #{{ order.id }}</h1>
    <div class="order-details">
      <div>
        <strong>Date:</strong> {{ order.createdDate | date : "dd/MMM/yyyy" }}
      </div>
      <!-- <div><strong>Name:</strong> {{ order.name }}</div>
      <div><strong>Address:</strong> {{ order.address }}</div> -->
      <div><strong>Status:</strong> {{ order.status }}</div>
      <div *ngIf="order.paymentId">
        <strong>Payment ID:</strong> {{ order.paymentId }}
      </div>
      <div *ngIf="!order.paymentId">
        <strong>Payment:</strong> Cash On Delivery
      </div>
    </div>

    <order-items-list [order]="order"></order-items-list>
  </div>

  <div class="shipping-address">
    <app-title title="Delivery Address"></app-title>
    <div class="address-details">
      <div><strong>Street:</strong>{{ address.street }}</div>
      <div>
        <strong>City:</strong> {{ address.city }}
        <div><strong>PostalCode:</strong> {{ address.postalCode }}</div>
        <div><strong>State:</strong>{{ address.state }}</div>
      </div>
    </div>
    <a routerLink="/track/{{ order.id }}" class="logo track-link"
      >Track Your Order</a
    >
  </div>
</div>
